server:
  port: 8080


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345

#mybatis-plus
mybatis-plus:
  mapper-locations: classpath:mapper/*xml
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.wmw.demo.entity

#分页插件
pagehelper:
  helper-dialect: mysql
  params: count= countSql
  reasonable: true
  support-methods-arguments: true
